* {	margin: 0;	padding: 0;	font-family: 'Droid Sans', arial, serif;}/* STRUCTURE ################################################################## */.body {	overflow: hidden;}.fullwindow {	width: 100%;	height: 100%;	position: absolute;	left: 0;	top: 0;	overflow: hidden;}.sidebar{	position: absolute;	left: 0px;	top: 0px;	bottom: 0px;	overflow: hidden;	width: 350px;
	-moz-box-shadow: 3px 0px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 0px 5px rgba(0,0,0,0.5);
	box-shadow: 3px 0px 5px rgba(0,0,0,0.5);
	z-index: 10;
}	.search {		position: absolute;		left: 0px;		top: 0px;		height: 35px;		width: 100%;		overflow: hidden;	}		.search input {
			position: absolute;
			left: 5px;
			top: 5px;			width: 218px;			height: 13px;			padding: 3px 0px 3px 8px;		}					.no-tags .search input {				width: 252px;			}
		
		.search .addnote,
		.search .tags,
		.search .reload {
			position: absolute;
			height: 24px;
			width: 24px;
			top: 4px;
		}
		
		.search .inner {
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		
		.search .addnote {
			left: 281px;
		}
		
		.search .addnote .inner {
			background: url('../images/plus.png') center no-repeat;
		}
		
		.search .tags {
			left: 246px;
		}					.no-tags .search .tags {				display: none;			}
		
		.search .tags .inner {
			background: url('../images/tag.png') center no-repeat;
		}
		
		.search .reload {
			left: 316px;
		}
		
		.search .reload .inner {
			background: url('../images/reload.png') center no-repeat;
		}
		
	.active-tag-filter {
		position: absolute;
		width: 100%;
		top: 35px;
		height: 20px;
	}			.active-tag-filter .inner {			position: absolute;			left: 5px;			right: 20px;			top: 0px;			bottom: 0px;			text-overflow: ellipsis;			text-align: center;		}					.active-tag-filter .inner span {				font-size: 0.8em;				height: 100%;			}				.active-tag-filter .clear-tag-filter {			position: absolute;			top: 2px;			bottom: 2px;			right: 2px;			width: 10px;			font-size: 0.8em;			cursor: pointer;			background: rgba(0,0,0,0.1);			text-align: center;		}
			.list {		position: absolute;		width: 100%;		left: 0px;		top: 35px;		bottom: 0px;		overflow-x: hidden;		overflow-y: scroll;		-webkit-transition: top 0.5s ease;		-moz-transition: top 0.5s ease;		-o-transition: top 0.5s ease;		transition: top 0.5s ease;	}
	
		.tag-filter .list {
			top: 55px;
		}
			.listnote-holder {			width: 100%;		}			.listnote {			position: relative;			width: 100%;			height: 40px;			white-space: nowrap;			overflow: hidden;			text-overflow: ellipsis;			cursor: pointer;				}					.listnote .title,			.listnote .preview {				white-space: nowrap;				overflow: hidden;				text-overflow: ellipsis;				position: absolute;				left: 35px;				right: 10px;				cursor: inherit;			}					.listnote .title {				top: 5px;			}						.listnote .preview {				bottom: 5px;			}						.listnote .pinboard {				position: absolute;				top: 0px;				height: 100%;				left: 0px;				width: 35px;				cursor: pointer;			}						.listnote .contents,			.listnote .contents textarea {				display: none;				visibility: hidden;			}.window {	overflow: hidden;	position: absolute;	left: 350px;	right: 0;	top: 0;	height: 100%;	display: block;}	.note {		display: none;		width: 600px;		position: absolute;		left: 50%;		top: 40px;		bottom: 30px;		min-height: 200px;		-webkit-transition: all 0.25s ease-out;		-moz-transition: all 0.25s ease-out;		-o-transition: all 0.25s ease-out;		transition: all 0.25s ease-out;	}		.no-animation .note {			-webkit-transition: none;			-moz-transition: none;			-o-transition: none;			transition: none;		}				.textarea {			position: absolute;			top: 20px;			bottom: 20px;			left: 20px;			right: 20px;
			padding: 5px 5px 5px 10px;		}					.textarea textarea,			.markdown {
				position: absolute;				left: 10px;				right: 5px;				top: 5px;				bottom: 42px;
				border: none;
				outline: none;
				font-family: inherit;
				background: transparent;				resize: none;
			}							.no-tags .textarea textarea {					bottom: 5px;				}								/*MARKDOWN SUPPORT*/				.markdown {					overflow-y: auto;					font-size: 80%;				}								.markdown h1, .markdown h2, .markdown h3,				.markdown h4, .markdown h5, .markdown h6 {					margin: 10px 0px 3px 0px;				}								.markdown h1 {font-size: 180%;}				.markdown h2 {font-size: 135%;}				.markdown h3 {font-size: 110%;}				.markdown h4 {font-size: 95%;}				.markdown h5 {font-size: 80%;}				.markdown h6 {font-size: 65%;}								.markdown h1.first-h1 {					margin-top: 5px;
					text-align: center;					/*background: rgba(0,0,0,0.1);					border: 1px solid rgba(0,0,0,0.2);					border-radius: 2px;*/				}								.markdown ul,				.markdown ol {					margin: 3px 0px 5px 50px;				}
				
				.markdown ul {
					margin-left: 35px;
				}								.markdown p {					margin: 10px 0px 5px 15px;				}								.markdown h1, .markdown h2, .markdown h3,				.markdown h4, .markdown h5, .markdown h6,				.markdown p, .markdown ul, .markdown ol,
				.markdown li, .markdown a, .markdown strong,
				.markdown em {					font-family: inherit;				}								.markdown code {					background: rgba(0,0,0,0.1);					padding: 0px 3px;					margin: 0px 2px;					font-family: Courier New, monospaced;					border: 1px solid rgba(0,0,0,0.2);					border-radius: 3px;					-moz-border-radius: 3px;					-webkit-border-radius: 3px;				}								.markdown pre code {					display: block;					padding: 10px 20px;					margin: 10px;					overflow-x: auto;				}								.markdown hr {					margin: 15px 0px;				}							.note .tag-area {				position: absolute;				left: 5px;				right: 5px;				bottom: 5px;				height: 32px;				border-top: 1px solid rgba(0,0,0,0.1);			}						.no-tags .tag-area {				display: none;			}						.note .tag-area div.tagsinput {				min-height: 35px;			}				.note-directions {			display: none;			visibility: hidden;			position: absolute;			bottom: 3px;			left: 0px;			width: 100%;			text-align: center;			font-size: 0.8em;		}				.note .maximize,		.note .versions-button,		.note .delete,		.note .pin-button,		.note .markdown-button {			position: absolute;			top: -1px;			height: 13px;			font-size: 10px;			border-bottom: 1px solid white;			border-right: 1px solid white;			border-left: 1px solid white;			-webkit-border-bottom-right-radius: 3px;			-webkit-border-bottom-left-radius: 3px;			-moz-border-radius-bottomright: 3px;			-moz-border-radius-bottomleft: 3px;			border-bottom-right-radius: 3px;			border-bottom-left-radius: 3px;			color: white;			text-align: center;			cursor: pointer;			padding-top: 2px;			-webkit-transition: background 1s ease-in-out;			-moz-transition: background 1s ease-in-out;			-o-transition: background 1s ease-in-out;			transition: background 1s ease-in-out; 		}				.note .delete {			right: 20px;			width: 16px;		}				.note .maximize {			right: 46px;			width: 35px;		}
		
		.note .versions-button {			right: 92px;			width: 45px;		}				.note .pin-button {			left: 20px;			width: 34px;		}				.note .markdown-button {			left: 64px;			width: 34px;		}				.note .maximize:hover,		.note .versions-button:hover,		.note .delete:hover,		.note .pin-button:hover,		.note .markdown-button:hover {			background: rgba(150,150,150,1);		}				.message {			position: absolute;			width: 80%;			height: 33px;			top: 0px;			left: 10%;			background: #cccccc;			text-align: center;			padding-top: 10px;			display: none;			-webkit-border-bottom-right-radius: 5px;			-webkit-border-bottom-left-radius: 5px;			-moz-border-radius-bottomright: 5px;			-moz-border-radius-bottomleft: 5px;			border-bottom-right-radius: 5px;			border-bottom-left-radius: 5px;			-moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.3);			-webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.3);			box-shadow: 1px 3px 3px rgba(0,0,0,0.3);		}			.toolbar {		position: absolute;		width: 100%;		top: 0;
		z-index: 20;		font-size: 0.8em;	}			.status-div {			position: absolute;			height: 100%;			left: 5px;		}					.status-icon {				display: none;				position: absolute;				height: 24px;				width: 24px;				top: 5px;			}						.status-div.loading .status-icon {				display: block;			}						.status {				position: absolute;				top: 5px;				left: 5px;				width: 300px;				white-space: nowrap;				overflow: hidden;				text-overflow: ellipsis;			}							.status .progress {					width: 200px;					background: white;					border-radius: 4px;					-moz-border-radius: 4px;					-webkit-border-radius: 4px;					overflow: hidden;					padding: 2px;
					box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
					border: 1px solid rgba(0,0,0,0.4);				}									.status .progress .inner {						background: green;						width: 2%;						height: 15px;						border-radius: 3px;						-moz-border-radius: 3px;						-webkit-border-radius: 3px;					}						.status-div.loading .status {				left: 25px;			}					.toolbar .userdata,
		.toolbar .settings_icon {
			position: absolute;
			border-radius: 3px;			-webkit-border-radius: 3px;			-moz-border-radius: 3px;
			cursor: pointer;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
				.toolbar .userdata {			right: 35px;			top: 5px;			padding: 0px 4px;		}				.toolbar .settings_icon {			right: 8px;			top: 2px;
			height: 24px; 		}
		
			.toolbar .userdata:hover,
			.toolbar .settings_icon:hover {
				background: rgba(0,0,0,0.1);
			}			.bottom-toolbar {		position: absolute;		width: 100%;		bottom: 0px;		z-index: 20;		font-size: 0.75em;	}			.bottom-toolbar .notestack-info {			position: absolute;			bottom: 5px;			right: 10px;			text-align: center;		}	.settings {	position: absolute;	left: 350px;	height: 60%;	right: 0px;	top: 100%;	-webkit-transition: top 0.25s ease-in-out;	-moz-transition: top 0.25s ease-in-out;	-o-transition: top 0.25s ease-in-out;	transition: top 0.25s ease-in-out;	z-index: 50;}	.settings.show {		top: 40%;	}		.settings .inner {		position: absolute;		left: 10px;		top: 10px;		right: 10px;		bottom: 0px;		overflow: auto;	}			.settings .tabs {
			position: absolute;
			top: 0px;			left: 0px;
			padding-bottom: 5px;
			width: 100%;			z-index: 51;			}				.settings .content {
			position: absolute;
			bottom: 0px;
			top: 25px;
			width: 100%;
			overflow: auto;		}				.settings_pane {			display: none;		}
		
			.settings_pane .pane_section {
				float: left;
			}								.appearance .item {			float: left;			height: 100px;			width: 100px;			margin: 10px;			cursor: pointer;			position: relative;			border-radius: 5px;			-moz-border-radius: 5px;			-webkit-border-radius: 5px;		}					.appearance .item .inner {				position: absolute;				left: 10px;				right: 10px;				top: 10px;				bottom: 10px;
			}					.appearance .item .name,			.appearance .item .by {				position: absolute;
				left: 0px;
				right: 0px;
				padding: 0px 5px;				text-align: center;				color: black;				font-size: 0.75em;							}						.appearance .item .name {				top: 20px;			}						.appearance .item .by {				top: 40px;			}						.appearance .font,			.appearance .fontsize,			.appearance .tag-pref {				float: left;				height: 30px;				padding: 10px;				margin: 5px;			}					.appearance .design-a-theme {			clear: both;			font-size: 0.75em;			color: white;			padding: 10px;		}
		
		.settings .keyboard_shortcuts table {
			margin: 0px auto;
		}
		
		.settings .data table {
			margin: 0px auto;
		}			.settings .close {		position: absolute;		height: 30px;		width: 30px;		right: 5px;		top: 2px;		background: url('../images/close.png') no-repeat bottom left;		cursor: pointer;		z-index: 55;	}	.help {	height: 100%;	width: 100%;	top: 0;	left: 0;}.msg {	display: none;	position: absolute;	top: 5px;	width: 100%;	z-index: 50;}	.msg .inner {		height: 25px;		z-index: 50;		width: 100px;		line-height: 25px;		font-size: 14px;		text-align: center;		background: #FEF7CB;		border: 1px solid #FFE475;		-webkit-border-radius: 3px;		-moz-border-radius: 3px;		border-radius: 3px;		margin: 0px auto;	}.overlay {	position: absolute;	height: 100%;	width: 100%;	top: 100%;	left: 0;	z-index: 100;	background: rgba(0,0,0,0);}.overlay.show {	top: 0;	-webkit-transition: background 0.3s linear;    -moz-transition: background 0.3s linear;    -o-transition: background 0.3s linear;    transition: background 0.3s linear;	background: rgba(0,0,0,0.7);	background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));}.labels {	display: none;	position: absolute;	width: 500px;	left: 50%;	margin-left: -250px;	height: 500px;	top: 50%;	margin-top: -250px;	background: gray;	z-index: 101;	-moz-border-radius: 10px;	-webkit-border-radius: 10px;	-o-border-radius: 10px;	border-radius: 10px;}	.labels .inner {		position: absolute;		top: 20px;		left: 20px;		right: 20px;		bottom: 20px;	}			.labels .inner input {			position: absolute;			top: 12px;			right: 12px;			left: 12px;		}				.labels .items {			position: absolute;			top: 38px;			right: 0px;			left: 0px;			bottom: 0px;			overflow: auto;		}				.labels .item {			width: 437px;			position: relative;			font-size: 18px;			margin: 4px auto;			background: rgba(0,0,0,0.2);			height: 25px;			cursor: pointer;
			-moz-border-radius: 3px;			-webkit-border-radius: 3px;			-o-border-radius: 3px;			border-radius: 3px;		}				.labels .item .name {			position: absolute;			left: 35px;		}				.labels .item .notecount {			position: absolute;			right: 35px;		}	.labels .close {		position: absolute;		height: 30px;		width: 30px;		right: -10px;		top: -10px;		background: url('../images/close.png') no-repeat bottom left;		cursor: pointer;	}
.versions {
	display: none;
	position: absolute;
	top: 50px;
	bottom: 50px;
	right: 50px;
	left: 50px;
	background: gray;
	z-index: 101;
	border-radius: 10px;	-moz-border-radius: 10px;	-webkit-border-radius: 10px;
}		.versions .inner {
		position: absolute;
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 20px;
	}
		
		.versions .versions-left {
			width: 25%;
			float: left;
			height: 100%;
			position: relative;
			border-right: 1px solid black;
			overflow-y: auto;
		}
		
			.versions .versions-left .version-item {
				width: 100%;
				height: 40px;
				border-bottom: 1px solid black;
				cursor: pointer;
				position: relative;
			}
			
				.versions .versions-left .version-item .version-date {
					position: absolute;
					top: 10px;
					left: 10px;
					right: 15px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
		
		.versions .versions-right {
			position: absolute;
			width: 75%;
			right: 0px;
			top: 0px;
			bottom: 30px;
			overflow-y: auto;			font-size: 0.8em;
		}
		
			.versions .versions-right .right-inner {
				position: absolute;
				top: 20px;
				bottom: 20px;
				right: 20px;
				left: 20px;
			}
			
				.versions .versions-right .right-inner textarea {
					position: absolute;
					top: 0px;
					bottom: 0px;
					right: 0px;
					left: 0px;
					background: transparent;
					border: none;
				}
			
		.versions .versions-toolbar {
			position: absolute;
			bottom: 0px;
			width: 75%;
			right: 0px;
			height: 30px;
		}
		
			.versions .versions-toolbar div {
				position: absolute;
				top: 5px;
				bottom: 5px;
				width: 100px;
				padding-top: 3px;
				font-size: 11px;
			}
			
			.versions .versions-toolbar .diff-view {
				left: 5px;
			}
			
			.versions .versions-toolbar .text-view {
				left: 105px;
			}
			
			.versions .versions-toolbar .revert-version {
				left: 225px;
				
			}
		.versions .close {		position: absolute;		height: 30px;		width: 30px;		right: -10px;		top: -10px;		background: url('../images/close.png') no-repeat bottom left;		cursor: pointer;	}		.templates {	display: none;	visibility: hidden;}		/* 	SELECTION SPECIFIC STRUCTURE ########################################################## */.prev2, .prev1,.current, .next1,.next2 {	visibility: visible;	display: block;}.prev2{	margin-left: -1600px;}.prev1{	margin-left: -950px;}.current {	margin-left: -300px;}.next1 {	margin-left: 350px;}.next2 {	margin-left: 1000px;}
.clear {
	clear: both;
}/* 	FULLSCREEN MODE ########################################################## */.fullscreen-mode .window .note.current {	position: fixed;	clear: all;	left: 50%;	width: 700px;	top: 20px;	bottom: 20px;	padding: 0px;	margin: 0px;
	margin-left: -350px;	z-index: 101;	overflow: hidden;	-webkit-transition: margin 0s ease-in-out;	-moz-transition: margin 0s ease-in-out;	-o-transition: margin-left 0s ease-in-out;	transition: margin 0s ease-in-out;}		.fullscreen-mode .current .textarea textarea {			left: 10px;			right: 10px;			top: 10px;			bottom: 45px;			border: none;			outline: none;			background: transparent;		}					.fullscreen-mode.no-tags .current .textarea textarea {				bottom: 10px;			}
		
	.fullscreen-mode .current .tag-area {
		width: 660px;
	}/* 	SHOW / HIDE / DIM / UNDIM ########################################################## */.show {	display: block;	visibility: visible;}.hide,.tag-hide,.search-hide {
	display: none;
}.dim {	opacity: 0.5;}.undim {	opacity: 1.0;}